---
layout: layout.liquid
---
<h1>{{ title }}</h1>
<div class="date">
    <p>Posted: {{ date | formatDate }}</p>
    {% if edited %}<p>Edited: {{ edited | formatDate }}</p>{% endif %}
</div>
{{ content }}
<hr/>
{% assign prev = collections.posts | sortPosts | reverse | getPreviousCollectionItem %}
{% assign next = collections.posts | sortPosts | reverse | getNextCollectionItem %}
<div class="prev-next">
    {% if prev %}<p><a href="{{ prev.url }}">&lt;- P</a></p>{% endif %}
    <p><a href="/">Home</a></p>
    {% if next %}<p><a href="{{ next.url }}">N -&gt;</a></p>{% endif %}
</div>
