---
layout: layout.liquid
---
<h1>{{ title }}</h1>
<div class="date">
    <div>Posted: {{ date | formatDate }}</div>
    {% if edited %}<div>Last edited: {{ edited | formatDate }}</div>{% endif %}
</div>
{{ content }}
<div class="date">
    <div><a href="/">Home</a></div>
    <div><a href="/archive">All posts</a></div>
</div>
<hr/>
{% assign prev = collections.posts | getPreviousCollectionItem %}
{% assign next = collections.posts | getNextCollectionItem %}
<div class="prev-next">
    {% if prev %}<p><a href="{{ prev.url }}">&lt;- Previous</a></p>{% endif %}
    <div></div>
    {% if next %}<p><a href="{{ next.url }}">Next -&gt;</a></p>{% endif %}
</div>
